{toc}

h1. {{className}}

{{#operations}}
|| Method || Path || Summary ||
{{#operation}}
| {{httpMethod}} | [{{path}}|#{{nickname}}] | {{summary}} |
{{/operation}}
{{/operations}}

{{#operations}}
{{#operation}}
{{n}}
{anchor:{{nickname}}}
h2. {{httpMethod}} {{path}}

{{{summary}}}{{#notes}}  {{{notes}}}{{/notes}}
{{n}}
{{#hasPathParams}}
{{n}}
h3. Path parameters
{{#pathParams}}
* {{paramName}}: {{dataType}}{{#defaultValue}} = {{defaultValue}}{{/defaultValue}} - {{description}}{{notes}}
{{/pathParams}}
{{/hasPathParams}}
{{#hasQueryParams}}
{{n}}
h3. Query parameters
{{#queryParams}}
* {{paramName}}: {{dataType}} - {{description}}{{notes}}
{{/queryParams}}
{{/hasQueryParams}}
{{#hasHeaderParams}}
{{n}}
h3. Header parameters
{{#headerParams}}
* {{paramName}}: {{dataType}} - {{description}}{{notes}}
{{/headerParams}}
{{/hasHeaderParams}}
{{/operation}}
{{/operations}}
