{toc}

{{#models}}
{{#model}}
h1. {{classname}}
{{#description}}
{{n}}
{{{description}}}
{{/description}}
{code:language=javascript|collapse=true}
{{{modelJson}}}
{code}
{{#vars}}
* {{name}}: {{#isPrimitiveType}}{{datatype}}{{/isPrimitiveType}}{{^isPrimitiveType}}[{{datatype}}|#{{datatype}}]{{/isPrimitiveType}}{{#description}} - {{{description}}}{{/description}}{{n}}
{{/vars}}
{{n}}
{{/model}}
{{/models}}
